li {
    font-family: 'Abril Fatface', cursive;
    color: #4cffc6;
}

html {
    Background-color: black;
}

h1 {
    color: red;
    font-family: 'Fascinate Inline', cursive;
}

h2 {
    color: #f9ff4c;
}

p {
    color: #34e0ef;
    font-family: 'Righteous', cursive;
}